{%extends display.mvc%}


{%block body%}
<div id="pt-main" class="pt-perspective">

 <content data-id="home" class="page page-current">
  <div class="row auto">
   <aside class="span3 sidebar">
     <h2 id="god">{% trans "In the Name of God" %}</h2>
     <div id="time"><span class="hour">{{ "now"|date("h") }}</span>:<span class="minute">{{ "now"|date("i") }}</span>:<span class="second">{{ "now"|date("s") }}</span></div>
     <div id="date">{% if site.currentlang == "fa" %} {{"now"|jdate("l j F Y")}} {% else %} {{"now"|date("l j F Y")}} {% endif %}</div>
     <header id="logo">
      <img src="{{url.static}}images/logo.png" alt='{%trans "Ermile"%}'>
      <h1>{% trans "Ermile" %}</h1>
     </header>
{% if site.currentlang == "fa" %}
     <div id="poem"><span>از دست غیبت تو شکایت نمی‌کنم</span><br /><span>تا نیست غیبتی نبود لذت حضور</span></div>
{% endif %}
   </aside>

   <content class="span9 dashboard">
    <div class="container row">
{% for i, user in datatable.list %}

      <div data-id="{{user.id}}" class="card {% if user.hour_start is not null %}present{%endif%}">
       <img class="random" src="{{url.static}}images/avatar/{{random(14)}}.png">
{% set name = user.user_displayname %}
       <div class="info">
        <div class="name">{% trans name %}</div>
        <div class="position">{{user.position}}</div>
        <div class="id">{{user.id}}</div>
       </div>
      </div>
     {%endfor%}

      <div class="clear:both"></div>
    </div>
   </content>
  </div>
 </content>

{%for key, user in datatable.list %}
  <content data-id="{{key}}" class="page detail">
   <div class="container row auto">
    <div class="span5">
     <div class="card">
      <img class="random" src="{{url.static}}images/avatar/{{random(14)}}.png">
      <div class="info">
       <div class="name">{% set name = user.user_displayname %}{% trans name %}</div>
        <div class="position">{{user.position}}</div>
       <span>{{user.week.total}} {%trans "hours in this week"%}</span><br />
       <span>{{user.month.total}} {%trans "hours in this month"%}</span><br />
       <span>{{user.month.plus}} {%trans "hours remote in this month"%}</span><br />
       <span>{{user.month.minus}} {%trans "hours in idle this month"%}</span>
        <div class="id">{{key}}</div>
      </div>
     </div>
    </div>

    <div class="span7">
     <div class="statistics">
      <div class="row">
       <div class="side enter">{{user.hour_start}}<span>{%trans "Enter"%}</span></div>
       <div class="diff"><span>{%trans "Difference"%}</span></div>
       <div class="side exit"><span>{%trans "Exit"%}</span></div>
      </div>
      <p class="minus"><span>{%trans "Minus"%}</span></p>
      <p class="plus"><span>{%trans "Plus"%}</span></p>
      <p class="total"><span>{%trans "Total"%}</span></p>
     </div>
    </div>
   </div>
  </content>
{%endfor%}
 </div>
{%endblock%}


{%block js%}
 <script src="{{url.static}}js/script-corridor.js"></script>
{%endblock%}
