{%extends display.mvc%}

{%block head_css%}
 <link rel="stylesheet"       href="{{url.static}}css/style-home.css" rel="stylesheet">
{%if site.currentlang == 'en'%}
 <link rel="stylesheet"       href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{%endif%}
{%endblock%}


{%block body%}
 <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="glyphicon glyphicon-th-list"></i></a>
 <nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
   <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="glyphicon glyphicon-remove"></i></a>
   <li class="sidebar-brand"><a href="#top"  onclick = $("#menu-close").click(); >{{site.title}}</a></li>
   <li><a href="#top" onclick = $("#menu-close").click();>{%trans "Home"%}</a></li>
   <li><a href="#slogan" onclick = $("#menu-close").click();>{%trans "Slogan"%}</a></li>
   <li><a href="#timeline" onclick = $("#menu-close").click();>{%trans "About"%}</a></li>
   <li><a href="#contact" onclick = $("#menu-close").click();>{%trans "Contact"%}</a></li>
   <hr />
{%if site.currentlang == 'fa'%}
   <li><a href="/doc">{%trans "Documentation"%}</a></li>
{%endif%}
   <li><a href="https://github.com/Ermile/Saloos/" target="_blank">
   {%trans "Check on Github"%}</a></li>
   <li><a href="https://github.com/Ermile/Saloos/archive/master.zip" target="_blank">{%trans "Download Latest Version"%}</a></li>

   <li class="langList">{%trans "Language List"%}</li>
{%for key, lang in site.langlist if site.langlist|length >1 and site.currentlang != key|slice(0, 2)%}
   <li ><a href="{{url.root}}{%if site.defaultLang != key|slice(0, 2) %}{{key|slice(0, 2)}}/{%endif%}{{url.path}}" hreflang="{{key|slice(0, 2)}}" data-action>{{lang}}</a></li>
{%endfor%}
  </ul>
 </nav>

 <!-- Header -->
 <header id="top" class="header">
  <div class="text-vertical-center">
   <h1>{{site.title | upper }}</h1>
   <h3>{{site.desc}}</h3>
   <br>
   <a href="#slogan" class="btn btn-dark btn-lg">{%trans "Find Out More"%}</a>
{%if site.currentlang == 'fa'%}
   <a href="/doc" class="btn btn-dark btn-lg">{%trans "Documentation"%}</a>
{%endif%}
   <a href="https://github.com/Ermile/Saloos/" class="btn btn-dark btn-lg" target="_blank">{%trans "Check on Github"%}</a>
  </div>
 </header>


 <!-- About -->
 <section id="slogan" class="about">
  <div class="container">
   <div class="row">
    <div class="col-lg-12 text-center">
     <h2>{{site.slogan}}</h2>
    </div>
   </div>
   <!-- /.row -->
  </div>
  <!-- /.container -->
 </section>

 <!-- Callout -->
 <aside class="callout">
  <div class="text-vertical-center">
   <h1>{%trans "Secure, Fast and Flexible"%}</h1>
  </div>
 </aside>


 <!-- Call to Action -->
 <aside class="call-to-action bg-primary">
  <div class="container">
   <div class="row">
    <div class="col-lg-12 text-center">
     <a href="https://github.com/Ermile/Saloos/archive/master.zip" class="btn btn-lg btn-light">{%trans "Download Latest Version"%}</a>
     <a href="https://github.com/Ermile/Saloos" class="btn btn-lg btn-dark" target="_blank">{%trans "Check on Github"%}</a>
    </div>
   </div>
  </div>
 </aside>


 <!-- Footer -->
 <footer class="text-center">
  <div class="footer-above">
   <div class="container">
    <div class="row">
     <div class="footer-col col-md-4">
      <h3>{%trans "Location"%}</h3>
      <p>{%trans "#83 Moallem St"%}<br>{%trans "Qom, IRAN"%}<br>{%trans "+98 25 3773 5183"%}</p>
     </div>
     <div class="footer-col col-md-4">
      <h3>{%trans "Another Languages"%}</h3>
      <p>
{%for key, lang in site.langlist if site.langlist|length >1 and site.currentlang != key|slice(0, 2)%}
     <a href="{{url.root}}{%if site.defaultLang != key|slice(0, 2) %}{{key|slice(0, 2)}}/{%endif%}{{url.path}}" hreflang="{{key|slice(0, 2)}}" data-action>{{lang}}</a>
{%endfor%}
      </p>
     </div>
     <div class="footer-col col-md-4">
      <h3>{%trans "About"%} {{site.title | upper }}</h3>
      <p>{{site.title}} {%trans " is a free to use, open source PHP framework created by"%} <a href="https://ermile.com" target="_blank">{%trans "Ermile"%}</a>.</p>
     </div>
    </div>
   </div>
  </div>
  <div class="footer-below">
   <div class="container">
    <div class="row">
     <div class="col-lg-12">
      {%trans "Copyright"%} &copy; {{site.title | upper }} {%trans "2013"%}-{{'now'|jdate('Y')}}
     </div>
    </div>
   </div>
  </div>
 </footer>
{%endblock%}



{%block js%}
 <script src="{{url.static}}js/script-home.js"></script>

 <script>
 // Closes the sidebar menu
 $("#menu-close").click(function(e) {
  e.preventDefault();
  $("#sidebar-wrapper").toggleClass("active");
 });

 // Opens the sidebar menu
 $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#sidebar-wrapper").toggleClass("active");
 });

 // Scrolls to the selected menu item on the page
 $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
   if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
    if (target.length) {
     $('html,body').animate({
      scrollTop: target.offset().top
     }, 1000);
     return false;
    }
   }
  });
 });
 </script>
{%endblock%}
