{%extends display.mvc%}
{%block body%}
<center>

	<div class="row auto">
	    <div class="span4">

			<h3>
				{%set name  = datatable.name%}
				اصلاح ساعات ثبت شده برای {%trans name%}
			<br>
				در تاریخ {{datatable.date|jdate}}
			</h3>

			<form method="post" class="form inline" action="last">
			<input type="hidden" name="id" value="{{id}}">
			<div class="field">
				<label>وضعیت</label>
					<select name="type">

						<option value="raw">بدون تغییر</option>
						<option value="mines">فقط هدر رفته ها لحاظ شود</option>
						<option value="plus">فقط ریموت لحاظ شود</option>
						<option value="all">هم هدر رفته و هم ریموت لحاظ شود</option>
						<option value="disable">غیر فعال</option>
						<option value="enable">فعال</option>
						<option value="expire">منقضی شده</option>
					</select>
			</div>
			<div class="field">
				<label>ساعت شروع</label>
				<input type="text" name="start" disabled="disabled" value="{{datatable.start}}">
			</div>
			<div class="field">
				<label>ساعت پایان</label>
				<input type="text" name="time" value="{{datatable.end}}">
			</div>
			<div class="field">
				<label>جمع ساعات</label>
				<input type="text" name="diff" disabled="disabled" value="{{datatable.diff}}">
			</div>
			<div class="field">
				<label>هدر رفته</label>
				<input type="text" name="minus" disabled="disabled" value="{{datatable.minus}}">
			</div>
			<div class="field">
				<label>ریموت</label>
				<input type="text" name="plus" disabled="disabled" value="{{datatable.plus}}">
			</div>
			<div class="field">
				<label>جمع کل</label>
				<input type="text" name="total" disabled="disabled" value="{{datatable.total}}">
			</div>

			<div class="field">
				<label>وضعیت ثبت شده</label>
				<input type="text" name="total" disabled="disabled" value="{{datatable.status}}">
			</div>

			<div class="field">
				<label>ساعات تیید شده</label>
				<input type="text" name="total" disabled="disabled" value="{{datatable.accepted}}">
			</div>

			<div class="field">
				<label></label>
				<input type="submit" value="ثبت تغییرات">
			</div>
			</form>
	    </div>
	</div>

</center>
{%endblock%}
