{% extends display.ganje %}

{% block body %}
 <section class="row auto inner">
   <div class="span9 cardList">
{%for key, user in users%}
{%set avatar_default = url.static ~ 'images/avatar/default/' ~ random(14) ~ '.png' %}
{%set avatar = url.static ~ 'images/avatar/' ~ user.id ~ '.jpg' %}
{%set name = user.displayname%}
{%set position = user.meta.position%}
    <div class="card {%if default_user == key%}present{%endif%}" data-user-id="{{user.id}}">
     <img src="{{avatar | exist(avatar_default)}}">
     <div class="info">
      <div class="name">{%trans name%}</div>
      <div class="position">{%trans position%}</div>
     </div>
     <div class="absolute-info">{%trans name%}</div>
    </div>
{%endfor%}
   </div>
  <div class="span3 detail">
   <div class="filters">
{{block ('filter_date')}}
   <span class='func'>
{{block ('filter_remove')}}
{{block ('filter_export')}}
   </span>
   </div>
  </div>

 </section>
{% embed display.ganje_et %}{% endembed %}
{% endblock %}
