body {
	/*background: url(../images/pattern/shattered_@2X.png);*/
	background: #333;
}

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}

.pt-page-1 {
	background: #0ac2d2;
	background: url(../images/pattern/shattered_@2X.png);
}

.pt-page-2 {
	background: #7bb7fa;
	background: url(../images/pattern/shattered_@2X.png);
}

.pt-page-3 {
	background: #60d7a9;
}

.pt-page-4 {
	background: #fdc162;
}

.pt-page-5 {
	background: #fd6a62;
}

.pt-page-6 {
	background: #f68dbb;
}

.pt-page-1 .span2 {
}

.pt-page-1 .span10 {
}

.sidebar {
	height: 100vh;
	padding-top: 2em;
	background-color: rgba(255,255,255,0.2);
	position: relative;
}

.sidebar > #besmellah {
	font-size: 0.8em;
	font-weight: 700;
    text-align: center;
    margin-bottom: 3em;
}

.sidebar > #time {
	text-align: center;
	font-size: 3em;
	text-shadow: 0 0 1px #000;
}

.sidebar > #date {
	font-weight: 500;
	text-align: center;
	margin-bottom: 50%;
	margin-top: -10px;
}

.sidebar > #time > .hour {
	font-weight: 500;
}

.sidebar > #time > .minute, .sidebar > #time > .second {
	font-weight: 200;
}

.sidebar > #logo {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	height: 200px;
}

.sidebar > h1 {
	text-align: center;
	font-weight: 700;
	text-shadow: 0 0 1px #000;
}

.sidebar > #poem {
	position: absolute;
	bottom: 1em;
	width: 100%;
	font-size: 0.8em;
	font-weight: 500;
	text-align: center;
}

.content {
	padding-top: 10%;
}

.content .row {
	text-align: center;
}

.person {
	display: inline-block;
	margin: 1.5em 2em;
}

.person > .avatar{
	width: 200px;
	height: 200px;
	background: linear-gradient(150deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	border-radius: 50%;
	margin: 0 auto 18px;
	position: relative;
	opacity: 0.3;
	overflow: hidden;
}

.person > .avatar.active {
	opacity: 1;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	animation-name: bounceIn;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

.person > .avatar img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 20px;
}

@keyframes bounceIn {
	from, 20%, 40%, 60%, 80%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(.97, .97, .97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

.user-avatar {
}

.user-avatar .avatar {
	width: 500px;
	height: 500px;
	overflow: hidden;
	background: linear-gradient(150deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	border-radius: 50%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	margin: 25% auto 2em;
}

.user-avatar .avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin-top: 20px;
}

.user-avatar .name {
	font-size: 4em;
	font-weight: 700;
	text-shadow: 0 0 1px #000;
	text-align: center;
}

.user-info {
	direction: rtl;
	text-align: center;
}

.user-info > ul {
	margin-top: 35%;
}

.user-info > ul .today {
	font-size: 10em;
	font-weight: 700;
	text-shadow: 0 0 1px #000;
}

.user-info > ul .remote {
	font-size: 3em;
	font-weight: 700;
	color: green;
}

.user-info > ul .idle {
	font-size: 3em;
	font-weight: 700;
	color: red;
}
