{%extends display.mvc%}


{%block js%}
 <script src="{{url.static}}js/script-corridor.js"></script>
{%endblock%}



{%block datatable%}
 <div class="row">
  <div class="panel">
   <div class="panel-body">
{%if datatable%}
    <ul class="elist">
     <li>
      <ul>
{%for key, column in datatable_col%}
       <li class='col_{{column}}'>{%trans column%}</li>
{%endfor%}
      </ul>
     </li>

{%for row, value in datatable%}
     <li>
      <ul>
{%for key, column in datatable_col%}
       <li class='val_{{column}}'> {{ attribute(value, column) }}</li>
{%endfor%}
     </li>
    </ul>
{%endfor%}


    </ul>



{%else%}
  <p class="alert alert-block alert-info">{%trans "Data not exist!"%}</p>
{%endif%}
     </div>
   </div>
 </div>
{%endblock%}
