{% extends display.mvc %}

{% block body %}
<content class="detail">
    <div class="row auto low-padding">
        <h1>{% trans "Latest entries" %}</h1>
    </div>
    <div class="row auto low-padding">
        <div class="span3">
            <div class="card">
{%set avatar_default = url.static ~ 'images/avatar/default/' ~ random(14) ~ '.png' %}
{%set avatar = url.static ~ 'images/avatar/' ~ login.id ~ '.jpg' %}
                <img src="{{avatar | exist(avatar_default)}}">
                <div class="info">
                    <div class="name">{{login.displayname}}</div>
                    <div class="position">Frond-end Developer</div>
                </div>
            </div>
        </div>
        <div class="span9">
            {%set dtperm = attribute(perm,module)%}
             <div class="row">
              <div class="span12">
               <div class="panel panel-default display-none">
                 <div class="panel-body">
{%block datatable%}
{%if include.datatable%}
       <table class="datatable display responsive nowrap" cellspacing="0" width="100%">
       <thead>
        <tr>
        <th class="column_row"></th>
{%for value in datatable_col%}
        <th>{{value}}</th>
{%endfor%}
        </tr>
        </thead>

        <tbody>
{%block tbody%}
{%for d in datatable%}
        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
         <td class="col_row">{{loop.index}}</td>
{%for col in datatable_col%}
{%set myvalue = attribute(d,col)%}
{% if value.value == 'date' %}
         <td class="col_{{value.value}}">{{myvalue|jdate}}</td>
{%else%}
{%endif%}
         <td class="col_{{value.value}}">{%trans myvalue%}</td>

{%endfor%}
        </tr>
{%endfor%}
{%endblock%}
        </tbody>
       </table>
{%else%}
  <p class="alert alert-block alert-info">{%trans "Data not exist!"%}</p>
{%endif%}
{%endblock%}
                 </div>
               </div>
              </div>
             </div>
        </div>
    </div>
</content>
{% endblock %}
