{% extends display.ganje %}

{% block body %}

 <section class="row auto low-padding cardList">
{%for key, value in users%}
 {%set avatar_default = url.static ~ 'images/avatar/default/' ~ random(14) ~ '.png' %}
 {%set avatar = url.static ~ 'images/avatar/' ~ value.id ~ '.jpg' %}
 {%set name = value.displayname%}
  <div class="card present">
   <img src="{{avatar | exist(avatar_default)}}">
   <div class="absolute-info">{%trans name%}</div>
  </div>
{%endfor%}
 </section>

 <div class="filters inline">
{{block ('filter_remove')}}
{{block ('filter_month')}}
{{block ('filter_year')}}
 <form method="post" data-action>
  <input type="submit" name="submit" value='{% trans "Export" %}'>
 </form>
 </div>

{% embed display.ganje_et %}{% endembed %}


 <footer>
{{block ('langList')}}
 </footer>

{% endblock %}
